@import ./Variables
    
.container 
    padding: .6rem

    position: fixed
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 10

    width: 100vw
    height: 4rem
    background-color: $whi
    box-shadow: 0 -1rem 3rem #20202020

    nav
        display: flex
        justify-content: center
        align-items: center
        gap: 1rem

        transform: translate(0, -70%)

        button
            height: 4rem
            width: 4rem

            padding: .8rem
            border: none
            border-radius: .2rem

            color: $gry
            background-color: #20202020
            backdrop-filter: blur(6px)
            transition: .4s ease

            svg
                filter: invert(80%)
                transition: .3s ease

            &:hover
                background-color: $acctrh
                box-shadow: 0 0 .3rem $acctrl

            &:active
                outline: none

            &:disabled
                background-color: $acc !important
                filter: none
                box-shadow: 0 0 1rem $acc

                svg
                    filter: invert(0)
