@import ./Variables
    
.app
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

    // background: $whi
    
    background-image:#999eff
    background-image:  radial-gradient(at 19% 65%, hsla(296,84%,64%,1) 0, transparent 59%),  radial-gradient(at 54% 31%, hsla(239,66%,75%,1) 0, transparent 41%),  radial-gradient(at 22% 85%, hsla(321,92%,72%,1) 0, transparent 59%),  radial-gradient(at 0% 29%, hsla(43,76%,70%,1) 0, transparent 58%),  radial-gradient(at 93% 99%, hsla(38,85%,74%,1) 0, transparent 42%)

    &.noUser
        background-color: linear-gradient(135deg, $acc, $err)
