@import ./Variables
    
.form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem
    padding-block: 1rem
    
    > label
        font-weight: 600
        
    span
        position: fixed
        bottom: 1rem

        padding: 1rem 
        background-color: #3cdd27

        color: #fff
        font-weight: 600
        text-transform: uppercase

        animation: result 3s

@keyframes result
    0%
        bottom: -100vh
    20%
        bottom: 1rem
    80%
        bottom: 1rem
    100%
        bottom: -100vh